.image
    position: relative
    overflow: hidden
    height: 128px
    img
        height: 128px
        width: 100%
        max-width: 500px
        // object-fit: cover

.title

.writing
    display: flex
    padding: 24px

.info
    margin-left: 10%
