.main
    display: flex
    justify-content: space-between
    padding: 0px 140px

.imagePlaceholder
    width: 400px
    height: 500px
    img
        width: inherit
        height: inherit
    &:hover

.form
    display: flex
    flex-direction: column
    padding: 20px

.select
    outline: none
    -webkit-appearance: none
    -moz-appearance: none

.addNew
    padding: 20px
