.filterItem
    cursor: pointer
    position: relative

.tag
    border: 1px solid black
    padding: 4px

.filterContextMenu
    position: absolute
    background-color: white
    border: 1px solid black
    z-index: 1
    overflow: hidden
    transition: max-height 0.5s ease-in-out
    max-height: 0px

.filterStatus
    padding: 4px
